{% extends 'main_app.html' %}
{% load static %}
{% block main_app %}
       <form method="get" class="p-3">
            <div class="d-flex justify-content-between">
            <input type="search" name="q" class="form-control me-2" id="search">
                 <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
         <div class="container">
            {% for item in invoices %}
                <p class="cvs p-2">
                    {{item.souscriber.name}}  {{item.souscriber.last_name}}  {{item.souscriber.first_name}} 
                    {% if item.status == 'Impayée'  %}
                        <a href="{% url 'update_invoice' item.id %}">
                            <span class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="Payer la facture">{{item.status}}</span>
                        </a>
                    {% else %}
                            <span class="badge bg-primary">{{item.status}}</span>
                    {% endif %}
                    <a href="{% url 'generate_pdf' item.id %}">
                        <span class="badge bg-primary float-end mt-1">Voir</span>
                    </a>
                </p>
                {% empty %}
                    <p class="text-center text-gray mt-4"><i class="bi bi-view-list"></i> Liste vide pour le moment !</p>
            {% endfor %}
        </div>     
    </div>
{% endblock main_app %}