{% extends 'main_app.html' %}
{% load static %}
{% block main_app %}
       <form method="get" class="p-3">
            <div class="d-flex justify-content-between">
            <input type="search" name="q" class="form-control me-2" id="search">
                 <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
        <div class="container">
            {% for item in subscribers %}
                <p class="cvs p-2"><span class="badge bg-primary float-end">{{item.type_subscriber}}</span> {{item.name}} {{item.last_name}} {{item.first_name}} - {{item.address}}</p>
                {% empty %}
                    <p class="text-center text-gray mt-4"><i class="bi bi-view-list"></i> Liste vide pour le moment !</p>
            {% endfor %}
        </div>
    </div>
{% endblock main_app %}